<h1>New API Testing Mode in Angular </h1>
<div class="container mt-4">

  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let row of allPosts">
      <div class="card shadow-sm h-100 w-50 bg-danger">
        <div class="card-body">
          <h5 class="card-title text-light">{{ row.name }}</h5>
          <h3 class="card-subtitle mb-2 text-info">{{ row.color }}</h3>
          <p class="card-text text-light">{{ row.taste }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-primary">Bootstrap Button</button>




<!--<ul>
  <li *ngFor="let item of items">
    {{ item }}
  </li>
</ul>-->
